// Primary

$lightRedText: hsl(356, 100%, 66%);
$veryLightRedText: hsl(355, 100%, 74%);
$veryDarkBlue: hsl(208, 49%, 24%);

// Neutral

$whiteText: hsl(0, 0%, 100%);
$grayishBlue: hsl(0, 0%, 95%);
$veryDarkGrayishBlye: hsl(207, 13%, 34%);
$greyBlack: hsl(240, 10%, 16%);

// Gradient

// Background gradient - Intro/CTA mobile nav:

$lightRed: hsl(13, 100%, 72%);
$veryLightRed: hsl(353, 100%, 62%);

// Background gradient - body:

$veryDarkGreyBlue: hsl(237, 17%, 21%);
$darkDesaturatedBlue: hsl(237, 23%, 32%);
