@media (max-width: 780px) {
  body {
    width: 100%;
  }
  header {
    height: 500px;
    background-size: 1400px;
    background-position: center;
    .nav--buttons {
      display: none;
    }
    .logo {
      padding: 0;
    }
    #nav--logo {
      width: 80px;
    }
    .splash--lines {
      h1 {
        text-align: center;
        font-size: 28px;
      }
      p {
        text-align: center;
        font-size: 15px;
        margin: 10px;
      }
    }
    .splash--btns {
      margin: 25px 0;
    }
  }
  .section--1 {
    margin: 5rem 0 0 0;
    flex-direction: column-reverse;
    padding: 0;
    h1 {
      margin: 0;
      font-size: 26px;
      text-align: center;
    }
    .s1--text {
      padding: 0;
      article {
        margin: 1rem 0 0 0;
        h3 {
          font-size: 25px;
          text-align: center;
        }
        p {
          font-size: 18px;
        }
      }
    }
    .s1--img {
      // something's broken here
      display: none;
      position: relative;
      background-color: green;
      flex: 1;
      // img {
      //   position: relative;
      //   right: 450px;
      //   top: 50%;
      //   transform: translate(-50%, -50%);
      //   min-width: 50px;
      //   width: 300px;
      // }
    }
  }
  .section--2 {
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    background-position: -100px -100px;
    background-size: 500px;
    flex-direction: column;
    .s2--text {
      h1 {
        text-align: center;
        font-size: 30px;
      }
      p {
        text-align: center;
        padding: 0;
        margin: 0;
      }
    }
    .s2--img {
      img {
        width: 120%;
        max-width: 300px;
        left: 50%;
        top: -200px;
      }
    }
  }
  .section--3 {
    flex-direction: column;
    padding: 0;
    .s3--img {
      img {
        transform: translate(-50%, -50%);
        width: 300px;
        left: 50%;
      }
    }
    .s3--text {
      h3 {
        font-size: 30px;
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
  }
  footer {
    padding: 5rem 1rem 1rem 1rem;
    flex-direction: column;
  }
}
